---
import Home from '../components/Home.astro';
import Layout from '../layouts/Layout.astro';

const title = "Home | One Stop Cleaning - Family-Owned Cleaning Services";
---

<Layout>
	<title slot="head">{title}</title>
	<Home />
</Layout>
