---
import { navigate } from "astro:transitions/client";

const navigation = ["services", "industries", "about", "contact"];
const Capitalize = (s: string) => {
    return s.slice(0, 1).toLocaleUpperCase() + s.slice(1);
};
---

<!-- Include this script tag or install `@tailwindplus/elements` via npm: -->
<script
    src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1"
    type="module"></script>
<nav
    class="relative bg-white after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10"
>
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <!-- Mobile menu button-->
                <button
                    type="button"
                    command="--toggle"
                    commandfor="mobile-menu"
                    class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500"
                >
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        data-slot="icon"
                        aria-hidden="true"
                        class="size-6 in-aria-expanded:hidden"
                    >
                        <path
                            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                    <svg
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="1.5"
                        data-slot="icon"
                        aria-hidden="true"
                        class="size-6 not-in-aria-expanded:hidden"
                    >
                        <path
                            d="M6 18 18 6M6 6l12 12"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </button>
            </div>
            <div
                class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
            >
                <div class="flex shrink-0 items-center">
                    <img
                        src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500"
                        alt="Your Company"
                        class="h-8 w-auto"
                    />
                </div>
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-950/50 text-white", Default: "text-gray-300 hover:bg-white/5 hover:text-white" -->
                        {
                            navigation.map((item, index) => (
                                <a
                                    href={item === "about" ? "/about" : "#" + item}
                                    {...(index === 0 && {
                                        "aria-current": "page",
                                    })}
                                    class="text-gray-700 hover:text-primary transition-colors"
                                >
                                    {Capitalize(item)}
                                </a>
                            ))
                        }
                    </div>
                </div>
            </div>
            <div
                class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
            >
                <div class="flex items-center space-x-4">
                    <a href="tel:+1-555-0123" class="text-primary font-semibold"
                        >(555) 123-4567</a
                    >
                    <button
                        class="bg-primary text-white px-6 py-2 !rounded-button hover:bg-blue-600 transition-colors whitespace-nowrap"
                    >
                        Get Quote
                    </button>
                </div>
            </div>
        </div>
    </div>

    <el-disclosure id="mobile-menu" hidden class="block sm:hidden">
        <div class="space-y-1 px-2 pt-2 pb-3">
            {
                navigation.map((item, index) => (
                    <a
                        href={item === "about" ? "/about" : "#" + item}
                        {...(index === 0 && { "aria-current": "page" })}
                        class="text-gray-700 hover:text-primary transition-colors"
                    >
                        {Capitalize(item)}
                    </a>
                ))
            }
        </div>
    </el-disclosure>
</nav>
